/* Resetting default margin and padding for HTML and body elements */
html,
body {
  padding: 0;
  margin: 0;
  /* Setting a default font family for text elements */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Styling hyperlinks */
a {
  color: inherit;
  text-decoration: none;
}

/* Applying box-sizing border-box model to all elements for consistent sizing */
* {
  box-sizing: border-box;
}

/* Media query for light color scheme preference */
@media (prefers-color-scheme: light) {
  /* Applying light color scheme to HTML element */
  html {
    color-scheme: light;
  }

  /* Styling body for light color scheme */
  body {
    color: white;      /* Text color */
    background: black; /* Background color */
  }
}

